/* 404 not found */

.title {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

/* Scarecrow */

.scarecrow {
    position: absolute;
    width: 539px;
    height: 447px;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
}

/* Bad news */

.bad-news {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 165px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.message {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 391px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

/* Button */

.btn {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 563px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer {
    position: absolute;
    width: 260px;
    height: 17px;
    left: 607px;
    top: 1024px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0px;
    color: #333333;
}

@media(max-width: 400px) {
    .title {
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;
    }

    .scarecrow {
        position: absolute;
        width: 286px;
        height: 238px;
        left: 44px;
        top: 109px;
    }

    .bad-news {
        height: 142px;
        width: 350px;
        left: 24px;
        top: 407px;
        font-size: 48px;
        line-height: 71px;
    }

    .message {
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-family: Space Mono;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }

    .btn {
        position: absolute;
        left: 24px;
        top: 726px;
    }

    .footer {
        position: absolute;
        left: 60px;
        top: 890px; 
    }
}