/* 404 not found */

.title {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

/* Scarecrow */

.scarecrow {
    position: absolute;
    width: 539px;
    height: 447px;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
}